In [1]:
!pip install pydataset

Requirement already satisfied: pydataset in c:\users\laxman\anaconda3\lib\site-packages (0.2.0)
Requirement already satisfied: pandas in c:\users\laxman\anaconda3\lib\site-packages (from pydataset) (1.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\laxman\anaconda3\lib\site-packages (from pandas->pydataset) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\laxman\anaconda3\lib\site-packages (from pandas->pydataset) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\laxman\anaconda3\lib\site-packages (from pandas->pydataset) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\laxman\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->pydataset) (1.16.0)

In [2]:
# Lets import a data from this library "chickwts"

from pydataset import data

df = data('chickwts')

df

    weight       feed
1      179  horsebean
2      160  horsebean
3      136  horsebean
4      227  horsebean
5      217  horsebean
6      168  horsebean
7      108  horsebean
8      124  horsebean
9      143  horsebean
10     140  horsebean
11     309    linseed
12     229    linseed
13     181    linseed
14     141    linseed
15     260    linseed
16     203    linseed
17     148    linseed
18     169    linseed
19     213    linseed
20     257    linseed
21     244    linseed
22     271    linseed
23     243    soybean
24     230    soybean
25     248    soybean
26     327    soybean
27     329    soybean
28     250    soybean
29     193    soybean
30     271    soybean
31     316    soybean
32     267    soybean
33     199    soybean
34     171    soybean
35     158    soybean
36     248    soybean
37     423  sunflower
38     340  sunflower
39     392  sunflower
40     339  sunflower
41     341  sunflower
42     226  sunflower
43     320  sunflower
44     295  sunflower
45     334  sunflower
46     322  sunflower
47     297  sunflower
48     318  sunflower
49     325   meatmeal
50     257   meatmeal
51     303   meatmeal
52     315   meatmeal
53     380   meatmeal
54     153   meatmeal
55     263   meatmeal
56     242   meatmeal
57     206   meatmeal
58     344   meatmeal
59     258   meatmeal
60     368     casein
61     390     casein
62     379     casein
63     260     casein
64     404     casein
65     318     casein
66     352     casein
67     359     casein
68     216     casein
69     222     casein
70     283     casein
71     332     casein

PS 2: Total of 71 chickens are feed with different foods. The chicken company want to know which feed is the best to produce heavy chickens so that you can make more money.

In [3]:
# Lets find the average weight of each food type

df.groupby(['feed'])['weight'].mean()

feed
casein       323.583333
horsebean    160.200000
linseed      218.750000
meatmeal     276.909091
soybean      246.428571
sunflower    328.916667
Name: weight, dtype: float64

 if there is a significante difference in the average weight of each food type or not

Null Statement: No Significante difference in the average weight of each food Alternative: There is a significant difference in the average weight of each food

Which test: ANOVA as the data points are greater than 30 and the data is divided into groups.

For ANOVA, you need to use a library scipy

In [4]:
# Lets seprate the groups

casein_group = df[df['feed'] == "casein"]
horsebean_group = df[df['feed'] == "horsebean"]
linseed_group = df[df['feed'] == "linseed"]
meatmeal_group = df[df['feed'] == "meatmeal"]
soybean_group = df[df['feed'] == "soybean"]
sunflower_group = df[df['feed'] == "sunflower"]

In [5]:
# Get the library

from scipy.stats import stats

# Syntax - stats.f_oneway(Group1, Group2, Group3,....)

stats.f_oneway(casein_group['weight'], horsebean_group['weight'], linseed_group['weight'],
              meatmeal_group['weight'], soybean_group['weight'], sunflower_group['weight'])

F_onewayResult(statistic=15.364799774712534, pvalue=5.936419853471331e-10)

p-value ~ 0.00 which is less than 0.05 thus, reject my null statement, thus, we will go with alternative statement i.e There is a significant difference in the average weight of each food. Thus Sunflower is the best feed to produce heavy chickens.